.topContainer {
  display: flex;
  justify-content: space-evenly;
  .Image {
    width: 188px;
    height: 188px;
    border-radius: 50%;
    position: relative;
    -webkit-box-shadow: -9px 13px 47px -14px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: -9px 13px 47px -14px rgba(0, 0, 0, 0.37);
    box-shadow: -9px 13px 47px -14px rgba(0, 0, 0, 0.37);
  }
  .Image::before{
    content: '';
    position: absolute;
    bottom: -100px;
    left:50%;
    height:100px;
    width:100px;
    border-left:2px dashed gray;
  }
  .highlight {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 86px;
    position: absolute;
    top: -86px;
    left: 50%;
  }
  .thirdHighlight {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 86px;
    position: absolute;
    top: -40px;
    right: -160px;
  }
  .content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 258px;
    position: relative;
  }
  .highlightText {
    min-width: 258px;
    max-width: 436px;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    background: #415ce0;  }
  .year {
    width: 85.818px;
    height: 23.875px;
    position: absolute;
    top: -35px;
    left: 0px;
    color: #000;
    font-family: "Nunito Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
  }
}
.arrow {
  width: 73px;
  height: 73px;
}
.bottomContainer {
  display: flex;
  justify-content: space-evenly;
  .Image {
    width: 188px;
    height: 188px;
    border-radius: 50%;
    position: relative;
    -webkit-box-shadow: -9px 13px 47px -14px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: -9px 13px 47px -14px rgba(0, 0, 0, 0.37);
    box-shadow: -9px 13px 47px -14px rgba(0, 0, 0, 0.37);
  }
  .Image::before{
    content: '';
    position: absolute;
    top: -100px;
    left:50%;
    height:100px;
    width:100px;
    border-left:2px dashed gray;
  }
  .highlight {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 86px;
    position: absolute;
    bottom: -86px;
    left: 50%;
  }
  .content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
  }
  .highlightText {
    min-width: 258px;
    max-width: 436px;
    color: #fff;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    background: #415ce0;  }
  .year {
    width: 85.818px;
    height: 23.875px;
    position: absolute;
    top: -35px;
    left: 0px;
    color: #000;
    font-family: "Nunito Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
  }
}
.mainContainer{
    display: flex;
    flex-direction: column;
    gap:100px;
    padding: 100px;
    padding-left: 0px;
}
.tournamentHighlightsHeading{
  margin-left: 162px;
}
.line{
    width:55%;
    margin:auto;
    border-top: 2px dashed gray;
    background-color: transparent;
}
@media screen and (max-width:1400px){
  .mainContainer{
    display: flex;
    flex-direction: column;
    gap:100px;
    padding: 100px;
    padding-left: 0px;
}
.tournamentHighlightsHeading{
  margin-left: 50px;
}
.line{
  width:57%;
}
}