.heading{
  padding-left: 166px;
}
.even,.card {
  margin-left: auto;
  margin-right: auto;
  width: 1498px;
  height: 604px;
  display: flex;
  align-items: center;
  gap: 437px;
  .image {
    width: 440px;
    height: 604px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 621px;
    height: 474.34px;
    gap: 13px;
    h2 {
      font-size: 28px;
      font-weight: 700;
    }
    p {
      font-size: 18px;
      font-weight: 400;
    }
    ul {
      padding-left: 30px;
    }
  }
  li {
    font-size: 18px;
  }
}
.even{
    flex-direction: row-reverse;
}
@media screen and (max-width:1400px){
  .even,.card{

    gap:160px;
    width:80vw;
  }
  .heading{
    padding-left: 50px;
  }
  .image {
    width: 940px;
    height: 804px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}