.label {
  display: flex;
  height: 191px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 891px;
  gap: 25px;
  cursor: pointer;
  border-radius: 5px;
  border-radius: 10px;
  border: 1px dashed #101c2d;
}

.label {
  .selectTextContainer {
    h2 {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #101c2d;
      font-family: "Nunito", sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .selectText {
      color: #415ce0;
      font-size: 13px;
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.label h3 {
  font-size: 13px;
  font-weight: 400;
  color: #232222;
}
.previewContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.preview {
  width: 150px;
  height: 150px;
  position: relative;
}
.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.cancelButton {
  position: absolute;
  top: -4px;
  right: -2px;
  background: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  fill: #fff;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}
.imageModal {
  margin-top: 7%;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 500px;
  margin-left: 25%;
  box-shadow: 24;
  padding-left: 6%;
  padding-top: 1.5%;
  border: none;
  outline: none;
}
.imageStyle {
  width: 500px;
  height: 400px;
}
.chooseImage:hover {
  cursor: pointer;
}
.modalElements {
  display: flex;
  flex-direction: column;
}
.imageElement {
  width: 812px;
  height: 574px;
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}
.closeButton {
  position: absolute;
  right: -10px;
  top: -7px;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  img {
    height: 100%;
    width: 100%;
    padding: 6px;
  }
}

.singleUploadContainer {
  width: 359px;
  height: 254px;
  min-height: 254px;
  max-height: 254px;
}

.singleUploadContainer .label {
  width: 100%;
  height: 100%;
}
.singleUploadContainer .preview {
  width: 100%;
  height: 100%;
}
.singleUploadContainer .chooseImage {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.labelText {
  text-align: left;
  color: #4d6581;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.smallHeight {
  height: 80px;
  min-height: 80px;
  max-height: 80px;
}

.singleUploadSubHeading {
  color: #101c2d;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
