.selectContainer {
  width: 359px;
  height: 40px;
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
}
.mobileNumberContainer {
  margin: 1;
  width: 40px;
  height: 40px;
  border: none;
}
.noBorder {
  border: none;
}

.border {
  border: 1px solid #e0e0e0;
}

.error {
  color: red;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.fontsizes{
  font-family: "Nunito", sans-serif;

}